@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Weather Today</h1>
</div>

<div class="text-lg-right">
    <h3>@DateTime.Now.ToString("yyyy-MM-dd HH:mm")</h3>
</div>

<div class="container-fluid lead">


    Below you find an overview of the weather at USN Porsgrunn:


    <p>&nbsp;</p>


    <h3>@Html.Raw(Model.weatherTemperatureText)</h3>


    <h3>@Html.Raw(Model.weatherWindSpeedText)</h3>


    <p>&nbsp;</p>

    For more details, select Weather in the menu.


</div>
